@import "./Variables.scss";
@import "./mixins.scss";

.proveedoresCont{
    height: 700px;
    width: 1049px;
    background-color: $ColorGrey;
    position: absolute;
    left: 300px;
    top: 75px;
    bottom: 0px;
}
.col_contenido{
    display:grid;
    grid-template-columns: repeat(2,50%);
}
.derecha{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10px;
 
    font-family: $Tipo;
    font-size: 25px;
}
.izquierda{
    display:flex;
    font-family: $Tipo1;
    font-size: 25px;
    margin-left: 20px;
}
.btnpro{
    cursor: pointer;
    font-family: $Tipo1;
    color: green;
    border: solid 3px $ColorPrincipal;
    border-radius: 8px;
    background-color: white;
    opacity: 0.6;
    font-size: 22px;
    padding: 5px;
    margin-left: 15px;
 

}
.iconpro{
    width: 50px;
    height: 50px;
    position: relative;
    top: 13px;


}
.btn2{
display: block;

text-align: center;

}