@import "./Variables.scss";
@import "./mixins.scss";

.cuadro2{
    height: 700px;
    width: 1049px;
    background-color: $ColorGrey;
    position: absolute;
    left: 300px;
    top: 75px;
    bottom: 0px;
}
.clientes{
    font-size: 35px;
    text-align: center;
    color:$ColorPrincipal;

}
