@import "./Variables.scss";
@import "./mixins.scss";

.img-log {
  width: 100%;
  opacity: 0.6;
 
}
.particles{
  height: 100%;
  width: 100%;
  z-index: -1;
  position: absolute;
}


.login {
  background-color: $ColorWhite;
  border-radius: 8px;
  width: 480px;
  height: 600px;
  position: absolute;
  top: 150px;
  left: 400px;
}
.login:hover .logo1 {
  transform: scale(1.3);
}

.logo1 {
  height: 100px;
  width: 100px;
  margin: 0;
  position: relative;
  left: 200px;
  top: 30px;
}

.log-Domi {
  color: $ColorBlack;
  font-family: $Tipo;
  font-size: 50px;
  text-align: center;
}
.textlog {
  color: $ColorBlack;
  font-family: $Tipo2;
  font-size: 30px;
  position: relative;
  left: 100px;
  width: 100%;
}
.text-co {
  color: $ColorBlack;
  font-family: $Tipo2;
  font-size: 30px;
  position: relative;
  top: 60px;
  right: 120px;
}

.prueba {
  font-size: 20px;
  height: 30px;
  width: 280px;
  border-radius: 3px;
  background-color: $ColorGrey;
  position: relative;
  left: 100px;
  top: 15px;
}
.prueba2 {
  font-size: 20px;
  height: 30px;
  width: 280px;
  border-radius: 3px;
  background-color: $ColorGrey;
  position: relative;
  left: 100px;
  top: 80px;
}
.ingresar {
  cursor: pointer;
  height: 40px;
  width: 250px;
  border-radius: 15px;
  font-family: $Tipo2;
  font-size: 22px;
  color: $ColorWhite;
  background-color: $ColorPrincipal;
  position: relative;
  left: 120px;
  top: 130px;
}
