@import "./Variables.scss";
@import "./mixins.scss";

.Navbar {
  display: grid;
  background-color:$ColorPrincipal;
  @include responsive (small){
    width: 100%;
    height: 50px;
  }
  grid-template-columns: 75% 260px;
  width: 100%;
  height: 60px;
  padding: 0.5rem 0;

}
.logo {
  @include responsive (small){
    width: 50px;
    height: 50px;
    margin-left: 1px;
    margin-top: 5px;
  }
  width: 85px;
  height: 69px;
  margin-left: 20px;
}
.Navbar_Brand {
   color:$ColorBlack; 
  display: flex;
  text-align: center;
}
.Navbar_Brand:hover{
    color:$ColorBlack; 
    text-decoration: none;
}
.Domi{
    font-family: $Tipo;
    font-size:35px;
    @include responsive (small){
      font-size:22px;
      margin-top:10px;
      margin-left: 5px;
      margin-bottom: 0;
    }
    color: $ColorBlack;
    margin-top:8px;
    margin-left: 10px
}
.Botones{
 margin-top: 3px;
}
.B1{
  cursor: pointer;
    background-color: $ColorPrincipal;
    border: 3px solid $ColorBlack;
    border-radius: 10px;
    color:$ColorBlack;
    font-family: $Tipo1;
    margin-right: 8px;
    display: inline-block;
        @include responsive(small){
      font-size: 18px;
      width: 80px;
      height: 40px;
      margin-left: -110px;
    }
    font-size: 25px;
    width: 100px;
    height: 50px;
    position: relative;
    bottom: 5px;
    text-align: center

}

.B2{
  cursor: pointer;
    border:none;
    background-color: $ColorWhite;
    border-radius: 10px;
    font-family: $Tipo1;
    @include responsive(small){
      font-size: 18px;
      width: 80px;
      height: 40px;
    }
    font-size: 25px;
    width: 100px;
    height:50px;
    padding-top: 8px;
    padding-bottom: 10px;
    color: $ColorBlack;
}